<div class="container">
  <section class="details">
    <table class="table">
      <th class="heading" *ngFor="let column of tableColumns">{{column}}</th>
      <tr *ngFor="let user of users">
        <td>{{ user._id }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>
          <button type="button" (click)="editUser(user)">EDIT</button>
          <button type="button" (click)="deleteUser(user._id)">DELETE</button>
        </td>
      </tr>
    </table>
    <button type="button" (click)="showUserForm()">Add</button>
  </section>

  <section class="form-section">
    <ng-container *ngIf="showForm">
      <form class="form-container" #f="ngForm">
        <div *ngIf="editMode">
          <label>Id:</label>
          <input type="text" name="id" [ngModel]="selectedUser._id" disabled>
        </div>
        <label>Name:</label>
        <input type="text" name="name" [(ngModel)]="selectedUser.name"><br>
        <label>Age:</label>
        <input type="number" name="age" [(ngModel)]="selectedUser.age"><br>
        <button type="submit" (click)="save(f)">Save</button>
        <button type="button" (click)="showForm = false; editMode = false">Cancel</button>
      </form>
    </ng-container>
  </section>
</div>
